.design-dev{
  background-color: grey;
   font-weight: bold;
   size: 20px;
   padding-top: 30px;
}
.handle-loading{
  color: red;
  size: 45px;
}

.size{
  
  font-weight: bold;
  
  

}
.blue{
  color: blue;
}
.red{
  color: red;
}
.black{
  color: black;
}

fieldset{
  padding: 5px;
  border: solid 2px grey;
  box-shadow: 4px 4px 4px 4px rebeccapurple;
  border-radius: 5px;
}
fieldset > label{
  font-weight: bold;
  
  
}
fieldset>label:hover{
  cursor: pointer;
}
.change-legend-color{
  background-color: gray;
  color: white;
}
