.handle-name{
    background-color: grey;
    size: 25px;
    font-weight: bold;
}
.handle-each-div{
    background-color:grey;
    margin-top: 20px;
    list-style: none;
}

.handle-dev{
    background-color: aliceblue;
    margin: 20px;
    gap: 30px;
}