header{
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  color: white;
   
}

header > img{
  width: 40px;
}

header > h1.handle-size{
  font-size: 1.1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;

}
article {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  padding-top: 10px;
}

.jaurnal-start{
  display: flex  ;
}
.main-image-container {
  width: 125px;
  width: 168px;
  overflow: hidden;
  border-radius: 5px;
  flex-shrink: 0;
   
}
.main-image {
  width: 100%;
  height: 100%;

}
.google-image-locator{
  width: 13px;
  width: 20px;
}